@model IEnumerable<MyShop.Core.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>


@foreach (var item in Model)
{
    <div class="col-md-4" style="height: 450px; padding: 10px; ">
        <img class="img-resonsive" src="~/Content/ProductImages/@item.Image" alt=@item.Name style="max-height: 250px; max-width: 80%" />
        <h4>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h4>
            @Html.DisplayFor(modelItem => item.Category)
        <p>
            $@Html.DisplayFor(modelItem => item.Price)
        </p>
        <button class="btn btn-default">Add to Cart</button>
    </div>
}
<div class="col-md-12 clearfix"></div>

